*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to bottom,
            #dcdcdc 50%,
            #e9e9e9 30%
        )
        ;
    font-family: sans-serif;
}

main{
    background-color: #e9e9e9;
    width: 500px;
    height: 700px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0 30px 50px;
    box-sizing: border-box;
    padding: 30px;
}

main form{
    align-items: center;
    justify-content: space-between;
}

main form input{
    width: 90%;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    box-shadow: 2px 3px 4px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 20px;
}

main form button{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    background-color: yellowgreen;
    margin-bottom: 30px;
}

main p{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: brown;
    text-align: center;
    align-items: center;
}

main .showUser{
    background-image: url('../static/userLogo.png');
    margin-left:auto;
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20%;
}

main h1,h2{
    text-align: center;
    margin-top: 20%;
}

main img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url('../static/loginLogo.png');
    background-position: center;
    background-size: cover;
    margin-top:40px;
    border-radius: 50%;
}

.home-main{
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.home-main .home-box{
    width: 30%;
    margin-left: 3%;
    border: 2px solid black;
}

nav a{
    font-size: 1.8rem;
    color:rgb(69, 0, 0);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active{
    color:rgb(0, 31, 133);
    border-bottom: 2px solid rgb(255, 72, 0);
    transform: scaleX(1.1);
    transition: 1.2s ease;
}
