<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="#about" class="active">Home</a>
        <a href="#achievements">Skills</a>
        <a href="#inventory">Projects</a>
        <a href="#waste">Education</a>
    </nav>
    <div class="home-main">
        <div class="home-box">

        </div>
        <div class="home-box">

        </div>

    </div> 
   
</body>
</html>